body{
  background-color: rgb(65,156,188);
  font-family: "Roboto";
  color:whitesmoke;
  background-image: url('/p3-3.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  color:whitesmoke;

}

