body{
  background-color: #1A1A1D;
  font-family: "Roboto";
  color:lightgrey;
  background-image:url('/p3-2.gif');
  background-repeat: no-repeat;
  background-size:cover;
}

.App {
  text-align: center;
  background-color: #1A1A1D;
}

