.custom-shape-divider-top-1601913997 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1601913997 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 216px;
}

.custom-shape-divider-top-1601913997 .shape-fill {
    fill: #fff;
}