.content {
  width: 100%;
  color: #ee4c7c;
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.content .line {
  height: 3px;
  background: #ee4c7c;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-animation: dude 1.75s 1 forwards;
  -moz-animation: dude 1.75s 1 forwards;
  -o-animation: dude 1.75s 1 forwards;
  animation: dude 1.75s 1 forwards;
}
