.custom-shape-divider-top-1601988737 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1601988737 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 168px;
}

.custom-shape-divider-top-1601988737 .shape-fill {
    fill: #FFFFFF;
}