html,
body {
  padding: 0;
  margin: 0;
  color: #e3e2df;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #e3e2df;
  font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  height: 100%;
  text-align: center;
}
